*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    /* margin-bottom: 0; */
    /* background: blue; */

}

/* navbar section */

.nav-bar ul{
    height: 50px;
    display: flex;
    flex-direction: row;
    /* color: blue;
    border: 20px solid black; */
}

.nav-bar li{  
    width: 100px;  
    height: 10px;  
    /* background-color: #8cacea;   */
    margin: 8px;
    list-style:none;
}
/* 
Google & Serach Form section */

.parent{
    height: 85%;
    /* border: 20px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

/* .child1{
    width: 200px;
    height: 200px;
    background: pink;
} */



.child1{
    width: 400px;
    text-align: center;
    height: 100px;
    /* background: rgb(32, 136, 113); */
}

.child2{
    width: 400px;
    height: 200px;
    background: yellow;
    text-align: center;
}

/* Footer section */

.footer-section ul{
    /* height: 50px;
    display: flex;
    margin-top: 25px;
    flex-direction: row; */
    /* display: grid; */
    /* gap: 20px 5px; */
    /* grid-template-columns: repeat(6, 100px); */
    /* grid-template-columns: repeat(4, 100px 2fr); */

    background: rgb(156, 154, 154);
   
    /* color: blue;
    border: 20px solid black; */
}

.footer-section li{  
    /* width: 100px;  
    height: 10px;   */
    /* background-color: #8cacea;   */
    /* margin: 8px; */
    list-style:none;
    text-decoration: none;
}

.footer-section a{  
    color: black;
    text-decoration: none;
}

.footer-section .move{
    /* justify-content: end; */

    /* grid-gap: 20px; */
    /* justify-items: end; */
    /* grid-gap */
    color: blue;
    /* flex-basis: 20%; */
    /* align-self: flex-end;
    order: 1;
    align-self: right; */
}

.right{
    float: right;
}