*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    /* margin-bottom: 0; */
    /* background: blue; */

}

/* navbar section */

.nav-bar ul{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    /* color: blue;
    border: 20px solid black; */
}

.flex-grow {
    flex-grow: 1;
    text-align: right;
  }

.nav-bar li{  
    /* width: 100px;   */
    height: 10px;  
    /* background-color: #8cacea;   */
    margin: 8px;
    list-style:none;
}

/* .nav-bar li img {
    margin:0;
	height:24px;
	position:relative;
	top:7px;
} */

.person-photo img{
    border-radius:50%;
	height:33px;
}

/* .gmail-icon{
    margin:0;
} */


/* 
Google & Serach Form section */

.parent{
    height: 85%;
    /* border: 20px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

/* .child1{
    width: 200px;
    height: 200px;
    background: pink;
} */



.child1{
    width: 400px;
    text-align: center;
    height: 100px;
    /* background: rgb(32, 136, 113); */
}

.child2{
    width: 400px;
    height: 200px;
    /* background: yellow; */
    text-align: center;
}

.searchbox {
	width: 592px;
	height: 27px;
	margin:auto;
	position:relative;
}

.searchbox input {
	width:400px;
	height:100%;
    border:1px solid #DDDDDD;
    border-radius:10%;
    height:30px;
	padding: 0 10px;
	position:relative;
	float:left;
	z-index:10;
}

/* Footer section */

.footer-section ul{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    /* color: blue;
    border: 20px solid black; */
}

.footer-section {
    flex-grow: 1;
    text-align: right;
  }

.footer-section li{  
    /* width: 100px;   */
    height: 10px;  
    /* background-color: #8cacea;   */
    margin: 8px;
    list-style:none;
    text-decoration: none;
    color: black;
}

.right{
    float: right;
}