*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent{
    height: 100vh;
    border: 20px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

/* .child1{
    width: 200px;
    height: 200px;
    background: pink;
} */

.child1{
    width: 400px;
    text-align: center;
    height: 100px;
    background: rgb(32, 136, 113);
}

.child2{
    width: 400px;
    height: 200px;
    background: yellow;
}